<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ExchangeServicePortType" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://desktop-7sb1gvl:8899/helloworld/Exchange"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ExchangeServicePortType"
                contract="ExchangeServiceReference.ExchangeServicePortType"
                name="BasicHttpBinding_ExchangeServicePortType" />
        </client>
    </system.serviceModel>
</configuration>